<!-- Posts -->
<section class="wrapper style1">
  <div class="container">
    <div class="row">
      <% applications.forEach(app=>{%> <% if(app.status != "cancelled"){ %>
      <section class="col-6 col-12-narrower">
        <div class="box post">
          <a href="#" class="image left"
            ><img src="<%= app.hostel.thumbnailPath%>" alt=""
          /></a>
          <div class="inner">
            <h3><%=app.hostel.name%></h3>
            <p>
              Below is the status of your application for space at
              <%=app.hostel.name%>
            </p>
            <span
              style="
                margin-top: 1rem;
                font-weight: 800;
                color: rgb(0, 140, 255);
              "
              >Status: <%=app.status%></span
            >
          </div>
        </div>

        <div class="col-12 bg-secondary">
          <a
            href="/cancelreservation/<%=app.hostel.id%>"
            class="btn"
            style="
              background-color: rgb(0, 162, 255);
              color: #fff;
              display: flex;
              align-items: center;
              justify-content: center;
            "
          >
            Cancel Reservation
          </a>
        </div>
      </section>
      <% } if(applications.length < 1){%>
      <h2 style="text-align: center; width: 100%">You have no bookings.</h2>
      <% }}); %>
    </div>
  </div>
</section>
<script>
  const current = document.getElementById("mybookings");
  const previous = document.querySelector(".current");
  if (current) {
    previous.classList.remove("current");
    current.classList.add("current");
  }
</script>
